trigger: none

pr:
  branches:
    include:
      - main
  paths:
    include:
      - terraform/*

pool:
  vmImage: 'default'

stages:
  - stage: Validate
    displayName: 'Terraform Validation'
    jobs:
      - job: terraform_validate
        displayName: 'Validate Terraform'
        steps:
          - template: ../templates/terraform-validate.yml
            parameters:
              terraformWorkingDirectory: 'terraform/sample'
